<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fy8848.concealapp"
    android:versionCode="1"
    android:versionName="2.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.fy8848.concealapp.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.fy8848.concealapp.ListActivity"
            android:label="@string/title_activity_list"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.fy8848.concealapp.NewItemActivity"
            android:label="@string/title_activity_new_item"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.fy8848.concealapp.WebActivity"
            android:label="@string/title_activity_web" >
        </activity>
        <activity
            android:name="com.fy8848.concealapp.SetActivity"
            android:label="@string/title_activity_set"
            android:screenOrientation="portrait" >
        </activity>

        <service
            android:name="com.fy8848.concealapp.SendService"
            android:enabled="true" />

        <activity
            android:name="com.fy8848.concealapp.UploadActivity"
            android:label="@string/title_activity_upload"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.fy8848.concealapp.UpingActivity"
            android:label="@string/title_activity_uping" >
        </activity>
        <activity
            android:name="com.fy8848.concealapp.MainMenuActivity"
            android:label="@string/title_activity_main_menu" >
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

</manifest>
