<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mag.com.xaqb.fireprotectionmag">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".MsgListActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".FindActivity" />
        <activity android:name=".zxing.activity.CaptureActivity" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- 配置高德地图 -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="24d7c26a80432cf52690a9c6bb966841" />

        <activity android:name=".ModifyPSWActivity" />
        <activity android:name=".ComQueryActivity" />
        <activity android:name=".ComListActivity" />
        <activity android:name=".ComDetialActivity" />
        <activity android:name=".PerQueryActivity" />
        <activity android:name=".PerListActivity" />
        <activity android:name=".PerDetailActivity" />
        <activity android:name=".MapNavgActivity" />
        <activity android:name=".ClueListActivity" />
        <activity android:name=".ClueDetialActivity" />
        <activity android:name=".MsgDetailActivity" />
        <activity android:name=".DataDetailActivity" />
        <activity android:name=".SearchBrandActivity" />
        <activity android:name=".SearchOrgActivity" />
    </application>

</manifest>